<style>

.left-col {
    display: inline-block;
    width: 200px;
}
.right-col {
    display: inline-block;
    width: 200px;
}
input[type=submit] {
    width: 20em;  height: 5em; verticalAlign: "top";
}

</style>


    <head>
        <title> Moneybollox </title>
    </head>


<h2>Choose your teams</h2>


	<form class = "form" action="/bollox" method="POST", id = "selectform">


  <div style = "width:50%;float:left;background-color:#aaa">

<h3> Team 1 </h3>

	<select id="player1_1" name="player1_1" form="selectform" type = "text" value = "player1_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player2_1" name="player2_1" form="selectform" type = "text" value = "player2_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player3_1" name="player3_1" form="selectform" type = "text" value = "player3_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player4_1" name="player4_1" form="selectform" type = "text" value = "player4_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player5_1" name="player5_1" form="selectform" type = "text" value = "player5_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player6_1" name="player6_1" form="selectform" type = "text" value = "player6_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player7_1" name="player7_1" form="selectform" type = "text" value = "player7_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player8_1" name="player8_1" form="selectform" type = "text" value = "player8_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player9_1" name="player9_1" form="selectform" type = "text" value = "player9_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player10_1" name="player10_1" form="selectform" type = "text" value = "player10_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
		<select id="player11_1" name="player11_1" form="selectform" type = "text" value = "player11_1">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
		<br>

	<br>
	

  </div>
  
    <div style = "width:50%;float:left;background-color:#bbb">

<h3> Team 2 </h3>

	<select id="player1_2" name="player1_2" form="selectform" type = "text" value = "player1_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player2_2" name="player2_2" form="selectform" type = "text" value = "player2_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player3_2" name="player3_2" form="selectform" type = "text" value = "player3_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player4_2" name="player4_2" form="selectform" type = "text" value = "player4_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player5_2" name="player5_2" form="selectform" type = "text" value = "player5_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player6_2" name="player6_2" form="selectform" type = "text" value = "player6_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player7_2" name="player7_2" form="selectform" type = "text" value = "player7_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player8_2" name="player8_2" form="selectform" type = "text" value = "player8_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player9_2" name="player9_2" form="selectform" type = "text" value = "player9_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	    <select id="player10_2" name="player10_2" form="selectform" type = "text" value = "player10_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
		<select id="player11_2" name="player11_2" form="selectform" type = "text" value = "player11_2">
	{% for player in players %}
    <option value= "{{player}}" SELECTED>{{player}}</option>
	{% endfor %}
	</select><br>
	
	<br>

	<br>
	
  </div>

<br>

<br>

<input type="submit" name="Submit teams" value="Submit teams">

</form>



<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>




</html>
